Repository avastmick/web-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: client-format, client-lint, client-type-check, bun-lockfile-check, cargo-lockfile-check

.pre-commit-config.yaml:

# .pre-commit-config.yaml
minimum_pre_commit_version: '2.17.0'

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1024'] # Prevent files larger than 1MB
      - id: check-merge-conflict
      - id: detect-private-key

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets (gitleaks)

  # Rust checks
  - repo: https://github.com/backplane/pre-commit-rust-hooks
    rev: v1.2.0
    hooks:
      - id: fmt
        name: Format Rust code (cargo fmt)
        entry: bash -c 'cd server && cargo fmt --all --'
        language: system # Override to ensure it runs in project context
        types: [rust]
        pass_filenames: false
      - id: clippy
        name: Lint Rust code (cargo clippy)
        entry: bash -c 'cd server && cargo clippy --all-targets --all-features -- -D warnings -D clippy::pedantic'
        language: system # Override to ensure it runs in project context
        types: [rust]
        pass_filenames: false


  # Client-side checks (Svelte/TypeScript) using local bun scripts from client/
  - repo: local
    hooks:
      - id: client-format
        name: Format client code (bun run format)
        language: system
        entry: bash -c 'cd client && bun run format'
        files: ^client/.*\.(ts|svelte|js|json|css|scss|html|yaml|md)$
        pass_filenames: false # Assumes `bun run format` (e.g. prettier --write .) handles its scope

      - id: client-lint
        name: Lint client code (bun run lint)
        language: system
        entry: bash -c 'cd client && bun run lint'
        files: ^client/.*\.(ts|svelte|js)$
        pass_filenames: false # Assumes `bun run lint` (e.g. eslint .) handles its scope

      - id: client-type-check
        name: Type-check client code (bun run check:strict)
        language: system
        entry: bash -c 'cd client && bun run check:strict'
        files: ^client/.*\.(ts|svelte|js)$
        pass_filenames: false # `svelte-check` runs on the project

  # Lockfile consistency checks
  - repo: local
    hooks:
      - id: bun-lockfile-check
        name: Check Bun lockfile consistency
        language: system
        entry: bash -c 'cd client && bun install --frozen-lockfile'
        files: ^client/bun\.lockb$ # Only trigger on lockfile change itself
        pass_filenames: false

  - repo: local
    hooks:
      - id: cargo-lockfile-check
        name: Check Cargo.lock consistency
        language: system
        entry: bash -c 'cd server && cargo check --locked'
        files: ^server/Cargo\.lock$ # Only trigger on lockfile change itself
        pass_filenames: false

docs: updated
  CURRENT_TASKS.md
Due: none

refactor: simplified authn/payment state handling on server
  server/src/handlers/auth_handler.rs
  server/src/handlers/oauth_handler.rs
  server/src/handlers/user_handler.rs
  server/src/models/auth.rs
  server/src/models/mod.rs
  server/src/models/payment.rs
  server/tests/ai_integration_tests.rs
  server/tests/auth_integration_tests.rs
  server/tests/common/mod.rs
Due: none

feat: registration/login/payment flow now working
  CURRENT_TASKS.md
  check_auth.js
  client/e2e/auth-flow.test.ts
  client/e2e/i18n-validation.test.ts
  client/src/lib/guards/authGuard.ts
  client/src/lib/i18n/locales/ar-SA.json
  client/src/lib/i18n/locales/en-US.json
  client/src/lib/i18n/locales/es-ES.json
  client/src/lib/i18n/locales/zh-CN.json
  client/src/lib/services/apiAuth.ts
  client/src/lib/services/authFlowManager.ts
  client/src/lib/services/storageService.ts
  client/src/lib/stores/authStore.ts
  client/src/lib/stores/index.ts
  client/src/lib/types/auth.ts
  client/src/lib/utils/auth.ts
  client/src/lib/utils/authRouter.ts
  client/src/routes/auth/oauth/callback/+page.svelte
  client/src/routes/auth/oauth/callback/+page.ts
  client/src/routes/payment/success/+page.svelte
  client/src/routes/register/+page.svelte
  documentation/ARCHITECTURE.md
  server/db/migrations/20250619023937_seed_initial_invite.sql
  server/db/migrations/20250624022203_add_test_invites.sql
  server/db/migrations/20250630152137_update_invite_expiry_dates.sql
  server/db/schema.sql
  server/src/core/auth_utils.rs
  server/src/core/mod.rs
  server/src/handlers/auth_handler.rs
  server/src/handlers/oauth_handler.rs
  server/src/handlers/user_handler.rs
  server/src/models/auth.rs
  server/src/services/invite_service.rs
Due: client-format, client-lint, client-type-check

docs: updated task detail
  CURRENT_TASKS.md
Due: none

feat: UI consistency round one
  CURRENT_TASKS.md
  client/src/lib/components/Navigation.svelte
  client/src/lib/components/ui/alert.svelte
  client/src/lib/components/ui/button.svelte
  client/src/lib/components/ui/card.svelte
  client/src/lib/components/ui/form-field.svelte
  client/src/lib/components/ui/index.ts
  client/src/lib/components/ui/input.svelte
  client/src/lib/styles/themes.css
  client/src/lib/utils/index.ts
  client/src/lib/utils/validation.ts
  client/src/routes/login/+page.svelte
  client/src/routes/payment/+page.svelte
  client/src/routes/register/+page.svelte
  client/tailwind.config.js
Due: client-format, client-lint, client-type-check

feat: UI consistency round two
  CURRENT_TASKS.md
  client/bun.lock
  client/package.json
  client/src/app.css
  client/src/lib/components/chat/ChatInterface.svelte
  client/src/lib/components/chat/ConversationSidebar.svelte
  client/src/lib/styles/themes.css
  client/src/routes/login/+page.svelte
  client/src/routes/register/+page.svelte
Due: client-format, client-lint, client-type-check

feat: UI consistency round three - chat
  CURRENT_TASKS.md
  client/src/app.css
  client/src/lib/components/chat/ChatInput.svelte
  client/src/lib/components/chat/ChatInterface.svelte
  client/src/lib/components/chat/ConversationSidebar.svelte
  client/src/lib/styles/themes.css
  client/tailwind.config.js
Due: client-format, client-lint, client-type-check

feat: UI consistency round four - chat
  client/src/lib/components/chat/ConversationSidebar.svelte
  client/src/lib/components/chat/MarkdownContent.svelte
  client/src/lib/components/chat/MessageBubble.svelte
Due: client-format, client-lint, client-type-check

feat: UI consistency round five - login/registration text entry
  CURRENT_TASKS.md
  client/src/lib/components/ui/form-field.svelte
Due: client-format, client-lint, client-type-check

feat: UI consistency round final. Looking good.
  CURRENT_TASKS.md
  client/e2e/auth-flow.test.ts
  client/e2e/language-switching.test.ts
  client/e2e/ui-consistency.test.ts
  client/playwright.config.ts
  documentation/UI-UX_SPECIFICATION.md
  documentation/UI_GUIDELINES.md
  documentation/UI_UX_THEME.md
Due: client-format, client-lint, client-type-check

docs: Updated tasks
  CURRENT_TASKS.md
Due: none

docs: updated details on feature flag usage
  CURRENT_TASKS.md
Due: none

feat: added initial template packaging
  CURRENT_TASKS.md
  justfile
  scripts/create-web-template/Cargo.lock
  scripts/create-web-template/Cargo.toml
  scripts/create-web-template/src/cli.rs
  scripts/create-web-template/src/config.rs
  scripts/create-web-template/src/errors.rs
  scripts/create-web-template/src/git.rs
  scripts/create-web-template/src/main.rs
  scripts/create-web-template/src/template.rs
  scripts/create-web-template/src/utils.rs
  scripts/create-web-template/src/wizard.rs
  server/Cargo.toml
  template.config.json
Due: none

docs: Updated env variable docs
  .gitignore
  README.md
  example.envrc
Due: none

feat: project template now works
  CURRENT_TASKS.md
  justfile
  scripts/create-web-template/src/template.rs
  template.config.json
Due: none

feat: project template now works
  README.md
  documentation/TEMPLATE_USAGE.md
  scripts/create-web-template/Cargo.lock
  scripts/create-web-template/Cargo.toml
  scripts/create-web-template/src/main.rs
  scripts/create-web-template/src/template.rs
  scripts/create-web-template/src/update.rs
  scripts/create-web-template/tests/integration_test.rs
Due: none

chore: updated server lint to prevent `unwrap()` usage
  server/Cargo.toml
  server/src/ai/schema.rs
  server/src/config/oauth.rs
  server/src/handlers/oauth_handler.rs
  server/src/routes.rs
  server/src/services/invite_service.rs
  server/tests/ai_integration_tests.rs
  server/tests/auth_integration_tests.rs
  server/tests/oauth_integration_tests.rs
Due: none

docs: update for code coverage
  CURRENT_TASKS.md
Due: none

chore: updated rust code linting rules
  .gitignore
  CURRENT_TASKS.md
  justfile
  scripts/create-web-template/Cargo.toml
  server/.tarpaulin.toml
  server/Cargo.toml
  server/src/config/oauth.rs
  server/src/main.rs
  server/src/services/auth_service.rs
  server/tests/ai_integration_tests.rs
  server/tests/auth_integration_tests.rs
  server/tests/oauth_integration_tests.rs
Due: none

chore: route test coverage temporary exemptions
  server/tests/endpoint/route_coverage_test.rs
Due: none

chore: version bumps
  CURRENT_TASKS.md
  server/Cargo.lock
  server/Cargo.toml
Due: cargo-lockfile-check

test: increased coverage. Some re-org
  CLAUDE.md
  server/src/core/auth_utils.rs
  server/src/core/password_utils.rs
  server/src/errors.rs
  server/src/handlers/auth_handler.rs
  server/src/handlers/health_handler.rs
  server/src/services/auth_service.rs
  server/src/services/mod.rs
  server/src/services/tests/mod.rs
  server/src/services/tests/user_service_tests.rs
Due: none

test: increased coverage. 37.86% coverage.
  server/src/handlers/ai_handler/chat.rs
Due: none

test: increased coverage. 39.71% coverage.
  server/src/handlers/ai_handler/conversations.rs
Due: none

test: increased coverage. 47.44% coverage.
  server/src/services/ai_data_service.rs
  server/src/services/ai_data_service_tests.rs
Due: none

test: increased coverage. 49.70% coverage.
  server/src/models/ai_models.rs
  server/src/models/ai_persona.rs
  server/src/models/ai_session.rs
Due: none

test: increased coverage. 50.15% coverage.
  server/src/middleware/payment_middleware.rs
Due: none

test: increased coverage. 54.45% coverage.
  server/src/handlers/ai_handler/misc.rs
  server/src/handlers/ai_handler/streaming.rs
  server/src/services/payment/webhook_handlers.rs
Due: none

docs: Updated tool usage. Added warning.
  CLAUDE.md
  README.md
Due: none

fix: docs and module structure
  CLAUDE.md
  CURRENT_TASKS.md
  server/src/ai/README.md
  server/src/lib.rs
  server/src/main.rs
  server/src/scheduler/README.md
  server/src/scheduler/mod.rs
  server/src/services/auth_service.rs
  server/src/services/mod.rs
Due: none

docs: current code coverage
  README.md
Due: none

i18n
  documentation/ARCHITECTURE.md
  documentation/I18N_PROCESS.md
Due: none

Initial beads setup
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/interactions.jsonl
  .beads/issues.jsonl
  .beads/metadata.json
  .gitattributes
  AGENTS.md
Due: none

fix(client): add jest-dom vitest type definitions
  client/src/app.d.ts
Due: client-format, client-lint, client-type-check

fix: use runtime sqlx::query() in tests for SQLX_OFFLINE compatibility
  server/src/core/auth_utils.rs
  server/src/services/ai_data_service_tests.rs
Due: none
