Repository avastmick/web-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: client-format, client-lint, client-type-check, bun-lockfile-check, cargo-lockfile-check

.pre-commit-config.yaml:

# .pre-commit-config.yaml
minimum_pre_commit_version: '2.17.0'

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1024'] # Prevent files larger than 1MB
      - id: check-merge-conflict
      - id: detect-private-key

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets (gitleaks)

  # Rust checks
  - repo: https://github.com/backplane/pre-commit-rust-hooks
    rev: v1.2.0
    hooks:
      - id: fmt
        name: Format Rust code (cargo fmt)
        entry: bash -c 'cd server && cargo fmt --all --'
        language: system # Override to ensure it runs in project context
        types: [rust]
        pass_filenames: false
      - id: clippy
        name: Lint Rust code (cargo clippy)
        entry: bash -c 'cd server && cargo clippy --all-targets --all-features -- -D warnings -D clippy::pedantic'
        language: system # Override to ensure it runs in project context
        types: [rust]
        pass_filenames: false


  # Client-side checks (Svelte/TypeScript) using local bun scripts from client/
  - repo: local
    hooks:
      - id: client-format
        name: Format client code (bun run format)
        language: system
        entry: bash -c 'cd client && bun run format'
        files: ^client/.*\.(ts|svelte|js|json|css|scss|html|yaml|md)$
        pass_filenames: false # Assumes `bun run format` (e.g. prettier --write .) handles its scope

      - id: client-lint
        name: Lint client code (bun run lint)
        language: system
        entry: bash -c 'cd client && bun run lint'
        files: ^client/.*\.(ts|svelte|js)$
        pass_filenames: false # Assumes `bun run lint` (e.g. eslint .) handles its scope

      - id: client-type-check
        name: Type-check client code (bun run check:strict)
        language: system
        entry: bash -c 'cd client && bun run check:strict'
        files: ^client/.*\.(ts|svelte|js)$
        pass_filenames: false # `svelte-check` runs on the project

  # Lockfile consistency checks
  - repo: local
    hooks:
      - id: bun-lockfile-check
        name: Check Bun lockfile consistency
        language: system
        entry: bash -c 'cd client && bun install --frozen-lockfile'
        files: ^client/bun\.lockb$ # Only trigger on lockfile change itself
        pass_filenames: false

  - repo: local
    hooks:
      - id: cargo-lockfile-check
        name: Check Cargo.lock consistency
        language: system
        entry: bash -c 'cd server && cargo check --locked'
        files: ^server/Cargo\.lock$ # Only trigger on lockfile change itself
        pass_filenames: false

feat: Initial build of application. Untested.
  .gitignore
  CLAUDE.md
  CURRENT_TASKS.md
  client/src/lib/index.ts
  client/src/lib/services/apiAuth.ts
  client/src/lib/services/index.ts
  client/src/lib/stores/authStore.ts
  client/src/lib/stores/index.ts
  client/src/lib/types/auth.ts
  client/src/lib/types/index.ts
  client/src/routes/+page.svelte
  client/src/routes/login/+page.svelte
  client/src/routes/profile/+layout.svelte
  client/src/routes/profile/+page.svelte
  client/src/routes/register/+page.svelte
  justfile
  server/Cargo.lock
  server/Cargo.toml
  server/src/core/password_utils.rs
  server/src/errors.rs
  server/src/handlers/auth_handler.rs
  server/src/handlers/mod.rs
  server/src/handlers/user_handler.rs
  server/src/lib.rs
  server/src/main.rs
  server/src/middleware/auth_middleware.rs
  server/src/middleware/mod.rs
  server/src/routes.rs
  server/src/services/auth_service.rs
  server/src/services/mod.rs
  server/src/services/user_service.rs
  server/tests/auth_integration_tests.rs
Due: client-format, client-lint, client-type-check, cargo-lockfile-check

feat: running servers locally
  justfile
Due: none

feat: Initial web application running. Okay.
  client/bun.lock
  client/package.json
  client/src/lib/services/apiAuth.ts
  client/src/routes/.well-known/appspecific/com.chrome.devtools.json/+server.ts
  client/vite.config.ts
  justfile
  server/Cargo.lock
  server/Cargo.toml
  server/src/main.rs
  server/src/routes.rs
Due: client-format, client-lint, client-type-check, cargo-lockfile-check

feat: added 'refresh' just recipe to completely teardown and stand up the project anew
  CURRENT_TASKS.md
  justfile
  server/db/migrations/20250528023034_create_users_table.sql
  server/db/schema.sql
Due: none

docs: updated instructions and CURRENT_TASKS
  CLAUDE.md
  CURRENT_TASKS.md
Due: none

feat: user invites
  CURRENT_TASKS.md
  server/db/migrations/20250619000602_create_user_invites_table.sql
  server/db/schema.sql
  server/src/errors.rs
  server/src/handlers/auth_handler.rs
  server/src/main.rs
  server/src/models/invite.rs
  server/src/models/mod.rs
  server/src/routes.rs
  server/src/services/invite_service.rs
  server/src/services/mod.rs
  server/tests/auth_integration_tests.rs
Due: none

feat: working Google oauth and docker (local)
  Dockerfile
  client/src/lib/services/apiAuth.ts
  justfile
  scripts/run-docker.sh
  server/src/config/oauth.rs
  server/src/routes.rs
  server/src/services/invite_service.rs
  server/tests/auth_integration_tests.rs
Due: client-format, client-lint, client-type-check

docs: updated tasks
  CURRENT_TASKS.md
Due: none

feat: added GitHub as oauth provider
  CURRENT_TASKS.md
  client/e2e/github-oauth.test.ts
  client/src/lib/services/apiAuth.ts
  client/src/routes/login/+page.svelte
  client/src/routes/register/+page.svelte
  justfile
  server/src/config/oauth.rs
  server/src/handlers/oauth_handler.rs
  server/src/models/mod.rs
  server/src/models/oauth.rs
  server/src/routes.rs
  server/src/services/oauth_service.rs
Due: client-format, client-lint, client-type-check

docs: initial UI/UX
  documentation/UI-UX_SPECIFICATION.md
Due: none

feat: refined UI/UX. Now for LLM integration and internationalisation
  CURRENT_TASKS.md
  client/bun.lock
  client/components.json
  client/e2e/github-oauth.test.ts
  client/package.json
  client/src/app.css
  client/src/app.html
  client/src/lib/components/Navigation.svelte
  client/src/lib/components/ThemeToggle.svelte
  client/src/lib/components/auth/GitHubOAuthButton.svelte
  client/src/lib/components/auth/GoogleOAuthButton.svelte
  client/src/lib/components/auth/index.ts
  client/src/lib/components/ui/button.svelte
  client/src/lib/components/ui/container.svelte
  client/src/lib/components/ui/flex.svelte
  client/src/lib/components/ui/grid.svelte
  client/src/lib/components/ui/index.ts
  client/src/lib/components/ui/input.svelte
  client/src/lib/stores/theme.ts
  client/src/lib/styles/accessibility.css
  client/src/lib/styles/design-tokens.json
  client/src/lib/styles/themes.css
  client/src/lib/styles/tokens.css
  client/src/lib/utils/accessibility.ts
  client/src/lib/utils/accessibility/color-contrast.ts
  client/src/lib/utils/accessibility/constants.ts
  client/src/lib/utils/accessibility/focus-management.ts
  client/src/lib/utils/accessibility/index.ts
  client/src/lib/utils/accessibility/testing.ts
  client/src/lib/utils/accessibility/touch-targets.ts
  client/src/lib/utils/index.ts
  client/src/routes/+layout.svelte
  client/src/routes/+page.svelte
  client/src/routes/login/+page.svelte
  client/src/routes/profile/+page.svelte
  client/src/routes/register/+page.svelte
  client/tailwind.config.js
Due: client-format, client-lint, client-type-check

docs: updated task list
  CURRENT_TASKS.md
Due: none

feat: 118n
  CURRENT_TASKS.md
  client/bun.lock
  client/e2e/language-switching.test.ts
  client/package.json
  client/src/lib/components/LanguageSelector.svelte
  client/src/lib/components/Navigation.svelte
  client/src/lib/components/auth/GitHubOAuthButton.svelte
  client/src/lib/components/auth/GoogleOAuthButton.svelte
  client/src/lib/components/ui/input.svelte
  client/src/lib/i18n/index.ts
  client/src/lib/i18n/locales/ar-SA.json
  client/src/lib/i18n/locales/en-US.json
  client/src/lib/i18n/locales/es-ES.json
  client/src/lib/i18n/locales/zh-CN.json
  client/src/lib/i18n/types.ts
  client/src/lib/stores/locale.ts
  client/src/lib/utils/i18n.ts
  client/src/routes/+layout.svelte
  client/src/routes/+page.svelte
  client/src/routes/login/+page.svelte
  client/src/routes/register/+page.svelte
Due: client-format, client-lint, client-type-check

feat: 118n. Including testing for non-compliance
  CURRENT_TASKS.md
  client/e2e/i18n-validation.test.ts
  client/src/lib/components/LanguageSelector.svelte
  client/src/lib/i18n/README.md
  client/src/lib/i18n/locales/ar-SA.json
  client/src/lib/i18n/locales/en-US.json
  client/src/lib/i18n/locales/es-ES.json
  client/src/lib/i18n/locales/zh-CN.json
  client/src/routes/+layout.svelte
  client/src/routes/auth/oauth/callback/+page.svelte
  client/src/routes/profile/+layout.svelte
  client/src/routes/profile/+page.svelte
  documentation/I18N_PROCESS.md
Due: client-format, client-lint, client-type-check

fix: chat prompt template location
  server/prompts/templates/chat/code_analysis.hbs
  server/prompts/templates/chat/contextual_chat.hbs
Due: none

fix: workspace clean, setup and check
  justfile
  server/Cargo.lock
  server/Cargo.toml
  server/db/migrations/20250623204551_create_oauth_state_table.sql
  server/db/schema.sql
  server/src/handlers/ai_handler.rs
  server/src/handlers/oauth_handler.rs
  server/src/main.rs
  server/src/models/oauth.rs
  server/src/routes.rs
  server/src/services/oauth_service.rs
  server/tests/ai_integration_tests.rs
  server/tests/auth_integration_tests.rs
  server/tests/oauth_integration_tests.rs
Due: cargo-lockfile-check

fix: API routes format
  server/src/routes.rs
Due: none

fix: workspace clean, setup, check, test cycle
  justfile
  server/src/handlers/ai_handler.rs
  server/tests/ai_integration_tests.rs
  server/tests/auth_integration_tests.rs
  server/tests/common/mod.rs
  server/tests/oauth_integration_tests.rs
Due: none

feat: chat integration test suite
  CURRENT_TASKS.md
  justfile
  server/tests/ai_integration_tests.rs
Due: none

feat: UI updates. stash commit. no working chat on client.
  CURRENT_TASKS.md
  client/e2e/language-switching.test.ts
  client/src/lib/components/chat/ChatInput.svelte
  client/src/lib/components/chat/ChatInterface.svelte
  client/src/lib/components/chat/ConversationSidebar.svelte
  client/src/lib/components/chat/MessageBubble.svelte
  client/src/lib/components/ui/button.svelte
  client/src/lib/i18n/locales/ar-SA.json
  client/src/lib/i18n/locales/en-US.json
  client/src/lib/i18n/locales/es-ES.json
  client/src/lib/i18n/locales/zh-CN.json
  client/src/lib/services/aiClient.ts
  client/src/lib/stores/chatStore.ts
  client/src/lib/types/chat.ts
  client/src/routes/+page.svelte
  client/vite.config.ts
Due: client-format, client-lint, client-type-check

feat: initial client chat working. UI updates to come.
  .gitignore
  CLAUDE.md
  CURRENT_TASKS.md
  Procfile
  README.md
  client/src/lib/components/chat/ChatInput.svelte
  client/src/lib/components/chat/ChatInterface.svelte
  client/src/lib/components/chat/ConversationSidebar.svelte
  client/src/lib/services/aiClient.ts
  client/src/lib/stores/chatStore.ts
  client/src/lib/styles/themes.css
  client/src/lib/types/chat.ts
  client/src/routes/+page.svelte
  client/src/routes/auth/oauth/callback/+page.svelte
  client/tailwind.config.js
  documentation/ARCHITECTURE.md
  documentation/UI_UX_THEME.md
  justfile
  server/db/migrations/20250624022203_add_test_invites.sql
  server/db/schema.sql
  server/src/handlers/ai_handler.rs
Due: client-format, client-lint, client-type-check

feat: file upload from client. Need to handle as text to pass to LLM
  CLAUDE.md
  client/src/lib/components/chat/ChatInput.svelte
  client/src/lib/components/chat/MessageBubble.svelte
  client/src/lib/services/aiClient.ts
  client/src/lib/stores/chatStore.ts
  client/src/lib/types/chat.ts
  client/src/lib/utils/accessibility.ts
Due: client-format, client-lint, client-type-check

feat: sourcefile size check for client <600 lines
  justfile
Due: none

refactor: files that are overly long
  justfile
  server/src/handlers/ai_handler.rs
  server/src/handlers/ai_handler/chat.rs
  server/src/handlers/ai_handler/conversations.rs
  server/src/handlers/ai_handler/file_upload.rs
  server/src/handlers/ai_handler/misc.rs
  server/src/handlers/ai_handler/mod.rs
  server/src/handlers/ai_handler/streaming.rs
Due: none

feat: file upload from client. Complete - now passes as context to LLM okay.
  CLAUDE.md
  client/e2e/language-switching.test.ts
  client/src/lib/services/aiClient.ts
  client/src/lib/stores/chatStore.ts
  client/src/lib/types/chat.ts
  server/Cargo.lock
  server/Cargo.toml
  server/src/handlers/ai_handler/file_upload.rs
Due: client-format, client-lint, client-type-check, cargo-lockfile-check

feat: support markdown response display
  client/bun.lock
  client/package.json
  client/src/app.css
  client/src/lib/components/LanguageSelector.svelte
  client/src/lib/components/Navigation.svelte
  client/src/lib/components/chat/ChatInput.svelte
  client/src/lib/components/chat/MarkdownContent.svelte
  client/src/lib/components/chat/MessageBubble.svelte
  client/src/lib/components/ui/button.svelte
  client/src/lib/styles/accessibility.css
  client/src/lib/styles/themes.css
  server/src/handlers/ai_handler/conversations.rs
  server/src/handlers/ai_handler/mod.rs
  server/src/routes.rs
Due: client-format, client-lint, client-type-check

feat: initial Stripe integration. Untested.
  CLAUDE.md
  CURRENT_TASKS.md
  client/bun.lock
  client/package.json
  client/src/lib/services/index.ts
  client/src/lib/services/paymentService.ts
  client/src/lib/types/index.ts
  client/src/lib/types/payment.ts
  server/Cargo.lock
  server/Cargo.toml
  server/db/migrations/20250625004427_create_user_payments_table.sql
  server/db/migrations/20250625004452_create_stripe_webhook_events_table.sql
  server/db/schema.sql
  server/src/core/state.rs
  server/src/errors.rs
  server/src/handlers/auth_handler.rs
  server/src/handlers/mod.rs
  server/src/handlers/payment_handler.rs
  server/src/models/mod.rs
  server/src/models/payment.rs
  server/src/routes.rs
  server/src/services/mod.rs
  server/src/services/payment/db_operations.rs
  server/src/services/payment/mod.rs
  server/src/services/payment/stripe_integration.rs
  server/src/services/payment/webhook_handlers.rs
  server/tests/auth_integration_tests.rs
Due: client-format, client-lint, client-type-check, cargo-lockfile-check

docs: updated
  CLAUDE.md
  documentation/ARCHITECTURE.md
  documentation/PRODUCTION_READY.md
Due: none

feat: initial Stripe integration. Initial testing. Multiple logical flow errors.
  client/src/lib/i18n/locales/en-US.json
  client/src/lib/services/apiAuth.ts
  client/src/lib/stores/authStore.ts
  client/src/lib/types/auth.ts
  client/src/routes/login/+page.svelte
  client/src/routes/payment/+page.svelte
  client/src/routes/payment/cancel/+page.svelte
  client/src/routes/payment/success/+page.svelte
  client/src/routes/register/+page.svelte
  server/src/errors.rs
  server/src/handlers/auth_handler.rs
  server/src/middleware/mod.rs
  server/src/middleware/payment_middleware.rs
  server/src/services/user_service.rs
Due: client-format, client-lint, client-type-check

feat: initial Stripe integration. Significant UI registration flow issues, including duplicate UI elements on page
  CURRENT_TASKS.md
  client/src/lib/components/Navigation.svelte
  client/src/lib/components/auth/GitHubOAuthButton.svelte
  client/src/lib/components/auth/GoogleOAuthButton.svelte
  client/src/routes/+layout.svelte
  client/src/routes/+layout.ts
  client/src/routes/+page.svelte
  client/src/routes/auth/oauth/callback/+page.svelte
  client/src/routes/chat/+page.svelte
  client/src/routes/login/+page.svelte
  client/src/routes/login/+page.ts
  client/src/routes/profile/+layout.svelte
  client/src/routes/profile/+page.svelte
  client/src/routes/register/+page.svelte
  client/src/routes/register/+page.ts
  documentation/ARCHITECTURE.md
  documentation/PRD.md
Due: client-format, client-lint, client-type-check

fix: temporary workaround replacing the conditionally used Svelte `goto()` with `window.location.href` for the initiial registration flow
  CLAUDE.md
  CURRENT_ISSUES.md
  client/src/routes/+layout.svelte
  client/src/routes/+page.svelte
  client/src/routes/+page.ts
  client/src/routes/auth/oauth/callback/+page.svelte
  client/src/routes/auth/oauth/callback/+page.ts
  client/src/routes/chat/+page.svelte
  client/src/routes/login/+page.svelte
  client/src/routes/login/+page.ts
  client/src/routes/payment/+page.svelte
  client/src/routes/payment/success/+page.svelte
  client/src/routes/register/+page.svelte
  client/src/routes/register/+page.ts
  documentation/ARCHITECTURE.md
  server/src/handlers/auth_handler.rs
  server/src/handlers/oauth_handler.rs
Due: client-format, client-lint, client-type-check

feat: initial Stripe integration. Main registration path works, cannot submit test payment. Odd 'stuck' behaviour on `/` route
  client/src/lib/services/paymentService.ts
  client/src/routes/payment/+page.svelte
  client/vite.config.ts
  documentation/CLIENT_STORAGE.md
  server/db/migrations/20250626060500_fix_user_payments_datetime_format.sql
  server/db/schema.sql
Due: client-format, client-lint, client-type-check

docs: updated tasks and current state.
  CURRENT_ISSUES.md
  CURRENT_TASKS.md
  client/src/routes/+page.ts
Due: client-format, client-lint, client-type-check

fix: registration and payment. Stash commit.
  client/src/lib/index.ts
  client/src/lib/services/apiAuth.ts
  client/src/lib/services/paymentService.ts
  client/src/lib/stores/authStore.ts
  client/src/lib/utils/auth.ts
  client/src/lib/utils/index.ts
  client/src/routes/+layout.svelte
  client/src/routes/+page.ts
  client/src/routes/auth/oauth/callback/+page.svelte
  client/src/routes/login/+page.svelte
  client/src/routes/payment/+page.svelte
  client/src/routes/payment/success/+page.svelte
  server/src/handlers/user_handler.rs
Due: client-format, client-lint, client-type-check

feat: initial payment flow with Stripe. Issues with authn token stripping
  client/src/lib/i18n/locales/en-US.json
  client/src/routes/payment/+page.svelte
  client/src/routes/payment/success/+page.svelte
Due: client-format, client-lint, client-type-check

fix: initial registration/auth flow. Still not solid.
  client/src/lib/stores/authStore.ts
  client/src/lib/utils/auth.ts
  client/src/routes/+layout.svelte
Due: client-format, client-lint, client-type-check

docs: updated
  CURRENT_TASKS.md
Due: none

fix: registration/authn/payment - stash commit before refactor
  CURRENT_TASKS.md
  client/src/lib/guards/authGuard.ts
  client/src/lib/utils/auth.ts
  client/src/lib/utils/authRouter.ts
  client/src/routes/+page.svelte
  client/src/routes/auth/oauth/callback/+page.svelte
  client/src/routes/chat/+page.svelte
  client/src/routes/chat/+page.ts
  client/src/routes/login/+page.svelte
  client/src/routes/payment/+page.svelte
  client/src/routes/payment/+page.ts
  documentation/CLIENT_STORAGE.md
Due: client-format, client-lint, client-type-check
